<div class="dashboard-list">
  {{> project-list}}
</div>

<!-- New Post button -->
<a href="/NewPost" class="btn btn-primary btn-block mb-4">+ Create Post</a>

<script>
  window.addEventListener('load', function() {
    $(".project-container").click(function() {
      document.location = '/EditPost/' + $(this).data('id');
    });
  });
</script>
