<div class="col-sm-12">
    <div class="project-container row">
      <div class="project-wrapper col-sm-12">
        <div class="row">
          <div class="project-header col-sm-12">
              <div class="row">
                <div class="project-name col-sm-7">Logout</div>
                
              </div>
          </div>
        </div>
        <div class="project-content col-sm-12">
          You are being logged out of the system... please wait :)
        </div>
      </div>
    </div>
</div>

<script>
  window.addEventListener('load', function() {
    jQuery.ajax({
      url: '/api/users/logout',
      type: 'post',
      success: function() {
        //login success send to my dashboard
        document.location = '/';
      },
      error: function(xhr, status, error) {
        alert('Logout failed... contact system administrator!');
      }
    });
  });
</script>