#navbarNav {
  text-align: center;
  background-color: rgb(38, 112, 173);
  color: white;
}

#navbarNav .nav-link:hover { font-weight: bold }
#navbarNav .nav-link {
  color:white;
}

footer {
  display:block;
  height: 15px;
  margin-top: 25px;
  background-color: rgb(38, 112, 173);
  border-top: 2px solid black;
}
